//TYPOGRAPHY
$fontPrimary: "Inter", sans-serif;
$font56: 3.5rem;
$font40: 2.5rem;
$font32: 2rem;
$font20: 1.25rem;
$font18: 1.125rem;
$font16: 1rem;
$font15: 0.9375rem;
$font14: 0.875rem;
$font13: 0.8125rem;
$font10: 0.625rem;

// COLORS
$offWhite: #fffdfa;
$greyishBlue: #c5c6ce;
$darkGreyishBlue: #5e607a;
$veryDarkBlue: #00001a;
$softRed: #f15e50;
$softOrange: #e9aa52;
